@import "tailwindcss";


/* Defining theme variables */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: Arial, Helvetica, sans-serif;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


/* Handling the dark mode theme */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #191919;
    --foreground: #ededed;
  }
}


/* --- Body of the document --- */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}


/* --- Font Style --- */
h1, h2 {
  font-weight: bold;
  margin-bottom: 20px;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.8em;
}

p {
  font-size: 1.1em;
  line-height: 1.6;
}


/* --- Header style --- */
header {
  background-color: #ededed;
  padding: 1rem;
  position: sticky;
  top: 0;
}

nav {
  display: flex;
  justify-content: center;
}

nav a {
  margin-right: 1rem;
  text-decoration: none;
  color: #333;
}

nav a:hover {
  text-decoration: underline;
}


/* --- Sections Style --- */
section {
  padding: 4rem; 
  margin-bottom: 2rem;
}


/* --- Hero Section Style --- */
#hero {
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero img {
  border-radius: 25px;
  box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.2);
}

#hero div {
  margin-left: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#hero p, h1 {
  width: 80%;
}


/* --- Contact Section Style --- */
#contact ul {
  list-style-type: none;
  padding: 0;
}

#contact li {
  margin-bottom: 0.5rem;
}


/* Media query for small screen devices */
@media (max-width: 768px) {
  #hero {
    flex-direction: column;
    align-items: center;
  }

  #hero img {
    margin-bottom: 20px;
  }

  #hero div {
    margin-left: 0;
  }

  #hero p, h1 {
    width: 100%;
  }

  section {
    padding: 2rem;
    margin-bottom: 2rem;
  }
}